@import "_mixins.scss";
@import "global.scss";

.works-page {
    width     : 60%;
    margin    : auto;
    margin-top: 4%;

    &__work-card {
        // background   : #F4F3F3;
        // border       : 1px solid silver;
        border-radius: 4px;

        padding: 0.8rem;

        .top-portion {


            .banner {
                overflow     : hidden;
                width        : 100%;
                position     : relative;
                border-radius: 4px;
                @include card-shadow-subtle;

                img {
                    width : 100%;
                    height: 100%;
                }
            }

            .details {
                padding: 0 0.8rem;

                .title {
                    margin-bottom: 0;
                }

                .description {
                    // background        : rgb(23, 42, 69);
                    padding           : 0.5rem;
                    border-radius     : 4px;
                    overflow          : hidden;
                    display           : -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    @include card-shadow-subtle;

                    &.#{$theme-light} {
                        @include get-theme-variables($theme-light, $theme-color-varient-lighter, 'background');
                    }

                    &.#{$theme-dark} {
                        @include get-theme-variables($theme-dark, $theme-color-varient-lighter, 'background');
                        color: rgb(136, 146, 176);
                    }
                }

                .video {
                    cursor: pointer;
                }

                text-align: left;
            }
        }

        .image-slider {
            padding-bottom: 18px;


            .ant-image {
                height: 140px;
            }

            &.#{$theme-light} {
                @include get-theme-variables($theme-light, $theme-color-varient-contrast, 'background');

                .slick-list {
                    @include get-theme-variables($theme-light, $theme-color-varient-lighter, 'background');
                }
            }

            &.#{$theme-dark} {
                @include get-theme-variables($theme-dark, $theme-color-varient-contrast, 'background');

                .slick-list {
                    @include get-theme-variables($theme-dark, $theme-color-varient-lighter, 'background');
                }
            }

            .slick-dots {
                margin-bottom: -22px;
            }
        }

    }
}