$font-family : "Inter var",
"Inter",
sans-serif !important;
$page-padding      :2vw;
$page-base-dark    :#171c28;
$page-base-light   : #f0f2f5;
$page-base-gradient:linear-gradient(177deg, hsla(218, 36%, 93%, 0.64) 29%, hsla(0, 0%, 100%, 0.64) 150%);
@import "mixins";

@mixin nice-looking-scroll-bar {
    ::-webkit-scrollbar {
        width: 18px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius   : 20px;
        border          : 6px solid transparent;
        background-clip : content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }

}

* {
    font-family: $font-family;
}

html {
    font-size: 14px !important;
}

body {

    width    : 100%;
    height   : 100%;
    font-size: inherit !important;
    @include nice-looking-scroll-bar();

    #root {
        height: 100%;
    }

    .application-container {
        padding   : 5px $page-padding;
        height    : 100%;
        overflow-x: hidden;
        overflow-y: auto;
        @include nice-looking-scroll-bar();

        &.#{$theme-dark} {
            background: $page-base-dark !important;
        }

        &.#{$theme-light} {
            background: $page-base-light !important;
        }
    }

    header {
        margin-top: 2vh;
    }

    footer {
        padding-top  : 14vw;
        margin-bottom: 2vw;

        .resume {
            div {}
        }

        .credits {}


    }
}