$font-family : "Inter var",
"Inter",
sans-serif !important;
$page-padding      :2vw;
$page-base         :rgb(10, 25, 47);
$page-base-gradient:linear-gradient(177deg, hsla(218, 36%, 93%, 0.64) 29%, hsla(0, 0%, 100%, 0.64) 150%);
@import "_mixins.scss";

@mixin nice-looking-scroll-bar {
    ::-webkit-scrollbar {
        width: 18px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius   : 20px;
        border          : 6px solid transparent;
        background-clip : content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }

}

* {
    font-family: $font-family;
}

html {
    font-size: 14px !important;
}

body {
    padding      : 5px $page-padding;
    // background: $page-base !important;
    width        : 100%;
    font-size    : inherit !important;
    @include nice-looking-scroll-bar();

    header {
        margin-top: 2vh;

        .header-menu-link {
            @include boxContent($v-h-align);
        }
    }
}